.circle {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid 3px #000;
    box-sizing: border-box;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
    font-size:50px;
    font-weight:bold;
    background:#000;
    color: #000;
    text-decoration: none;
    margin: 10px 0;
}
.circle:hover, .circle-icon{
    cursor:pointer
}
h1.visuallyhidden {
    position: absolute; clip: rect(1px, 1px, 1px, 1px); -webkit-clip-path: inset(0px 0px 99.9% 99.9%); clip-path: inset(0px 0px 99.9% 99.9%); overflow: hidden; height: 1px; width: 1px; padding: 0; border: 0;
}
.yokoku{
    font-size:34px;
    font-weight:bold;
    color:red;
    text-shadow:1px 1px 1px #000;
    background:#fff
}
.red{
    color:red;
    font-weight:bold
}
.bgwhite {
    background:#fff
}
.red,
.circle {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif
}
@media all and (-ms-high-contrast:none) {
    .circle {
        font-family: Century, "Hiragino Mincho ProN","HGMinchoE","MSPMincho","MSMincho",serif;
    }
}
/* サササ */
.sa-main {
    width: 100%;
}
.sa-list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    max-width:100%;
    padding: 20px 0;
    margin: 0;
}
.sa-item  {
    display:block;
    text-align:center;
}

/* サササ */
@media only screen and (min-width:321px) and (max-width:767px){
    .sa-item {
        width:25%
    }
}
@media only screen and (min-width:768px) and (max-width:859px){
    .sa-item {
        width:11.1%
    }
    .circle {
        width:75px;
        height:75px;
        line-height:75px;
    }
}
@media only screen and (min-width:859px) {
    .sa-main {
        width: 900px;
        max-width: 900px;
        user-select: none;
    }
    .circle {
        margin: 10px;
    }
}
